<div class="product-features">
    <div class="column">
        <div class="image">
            <img src="/assets/images/Path@3x-3.png" />
        </div>
        <div class="text">
            Customizable Touch Controls
        </div>
    </div>
    <div class="column">
        <div class="image">
            <img src="/assets/images/Shape@3x-3.png" />
        </div>
        <div class="text">
            Built-in Equalizer
        </div>
    </div>
    <div class="column">
        <div class="image">
            <img src="/assets/images/Combined Shape@3x-2.png" />
        </div>
        <div class="text">
            Active Noise Cancellation
        </div>
    </div>
</div>
